<div class="chask-card" data-controller="expand-card">
  <div class="subshow-header">
    <div class="subshow-title">
      <% if chask.status == "excluded" %>
        <p><s><%= chask.title %></s></p>
      <% elsif chask.status == "completed" %>
        <p><i><%= chask.title %></i></p>
      <% else %>
        <p><%= chask.title %></p>
      <% end %>
    </div>
    <div class="subshow-buttons">
      <%= link_to icon("fa-solid", "play"), chask_path(chask), class: "edit-button" %>
      <%= link_to icon("fa-solid", "pencil"), edit_chask_path(chask), class: "edit-button" %>
      <%= simple_form_for chask, url: excluded_chask_path(chask) do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: 'excluded'} %>
        <%= f.button :button, class: "delete-button" do %>
          <%= icon("fa-solid", "trash") %>
        <% end %>
      <% end %>
      <%# <%= link_to icon("fa-solid", "trash"), chask_path(chask), class: "delete-button", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% if chask.has_chasks? %>
        <i class="fa-solid fa-angle-down" data-action ="click->expand-card#displayChasks"></i>
      <% end %>
    </div>
  </div>
  <div class="subshow-subheader">
    <div class="chask-deadline">
      <%= simple_form_for chask, url: global_deadline_chask_path(chask) do |f| %>
        <%= f.input :deadline, as: :date, label:false, html5: true, input_html: { class:"chask_deadline" } %>
        <%= f.button :submit, 'Update Chask', class:"visually-hidden" %>
      <% end %>
    </div>
    <div class="chask-status">
      <p><%= chask.status %></p>
    </div>
  </div>
  <div class="subchasks-section d-none" data-expand-card-target="chasks" >
    <%= render 'tasks/subchask_card', chask: chask %>
  </div>
</div>
