<div class="task-card">
  <div class="task-content">
    <header>
      <h6><%= task.title %></h6>
    </header>
    <%= link_to '', task_path(task), class: "card-link" %>
  </div>
</div>
<%# <div class="deadline">
  <%= simple_form_for @chask, url: deadline_chask_path(@chask) do |f| %>
  <%# <%= f.input :deadline, as: :date, label:false, html5: true %>
  <%# <%= f.button :submit, 'Update Chask' %>
  <%# <% end %>
  <%# </div> %>

<%# <div class="task-card-info"> %>
      <%# <div class="completion-percentage"> %>
        <%# <p><%=task.complete_percentage%>
      <%# </div> %>
    <%# </div> %>
