<div class="task-card" data-controller="expand-card" data-action="click->expand-card#displayChasks">
  <div class="task-content">
    <header>
      <h6><%= task.title %></h6>
    </header>
    <div class="task-card-info">
      <div class="completion-percentage">
        <p><%=task.complete_percentage %>%</p>
      </div>
    </div>
    <%= link_to '', task_path(task), class: "card-link" %>
  </div>
  <div class="settings-button">
    <%= icon('fa-solid', 'ellipsis-v') %>
  </div>
  <div class="remove-button">
    <%= icon('fa-solid', 'trash') %>
    <%= link_to '', task_path(task), class: "remove-link" %>
  </div>
</div>
<%# <div class="deadline">
  <%= simple_form_for @chask, url: deadline_chask_path(@chask) do |f| %>
  <%# <%= f.input :deadline, as: :date, label:false, html5: true %>
  <%# <%= f.button :submit, 'Update Chask' %>
  <%# <% end %>
  <%# </div> %>
