<div class="cards-container">
  <div class="filter-dropdown">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="index-title">
          <h1><%= @label %></h1>
        </div>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "Dashboard View", tasks_path(filter: 'dashboard') %></li>
        <li><%= link_to "Recently modified", tasks_path(filter: 'recent') %></li>
        <li><%= link_to "Forgotten Flows", tasks_path(filter: 'old') %></li>
        <li><%= link_to "Most Urgent", tasks_path(filter: 'most_urgent') %></li>
        <li><%= link_to "Least Urgent", tasks_path(filter: 'least_urgent') %></li>
        <li><%= link_to "Most Progress", tasks_path(filter: 'most_progress') %></li>
        <li><%= link_to "Least Progress", tasks_path(filter: 'least_progress') %></li>
      </ul>
    </div>
  </div>
  <div class="card-layout" style="--cards: <%= current_user.tasks.count %>;">
    <% @filtered_tasks.each_with_index do |task, index| %>
      <%# <%= render 'tasks/progress_bar', task: task %>
      <div class="row">
        <% if index.odd? %>
          <div class="empty-cell">
            <h2><%= @label == 'Dashboard View' ? @sublabel[index] : 'placeholder' %></h2>
          </div>
          <%= render 'tasks/task_card', task: task, index: index %>
        <% else %>
          <%= render 'tasks/task_card', task: task, index: index %>
          <div class="empty-cell">
            <h2><%= @label == 'Dashboard View' ? @sublabel[index] : 'placeholder' %></h2>
          </div>
        <% end %>
      </div>
    <% end %>
    <h2>Your Completed Tasks</h2>
    <% @tasks.where(completed: true).each_with_index do |task, index| %>
      <div class="row">
        <% if index.odd? %>
          <div class="empty-cell"></div>
          <%= render 'tasks/task_card', task: task, index: index %>
        <% else %>
          <%= render 'tasks/task_card', task: task, index: index %>
          <div class="empty-cell"></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
