<div class="cards-container">
  <div id="stars"></div>
  <div id="stars2"></div>
  <%# <div id="stars3"></div> %>
  <div class="filter-dropdown">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="
    background: none; border: none; width: 100%;">
        <div class="index-title">
          <h1><%= @label %></h1>
        </div>
      </button>
      <ul class="dropdown-menu">
        <h6 class="dropdown-header">Select a View</h6>
        <li><%= link_to "Dashboard View", tasks_path(filter: 'dashboard') %></li>
        <div class="dropdown-divider"></div>
        <li><%= link_to "Recently Worked On", tasks_path(filter: 'recent') %></li>
        <%# <li><%= link_to "Forgotten Flows", tasks_path(filter: 'old') ></li> %>
        <li><%= link_to "Most Urgent Tasks", tasks_path(filter: 'most_urgent') %></li>
        <%# <li><%= link_to "Least Urgent", tasks_path(filter: 'least_urgent') ></li> %>
        <div class="dropdown-divider"></div>
        <li><%= link_to "Most Progress", tasks_path(filter: 'most_progress') %></li>
        <li><%= link_to "Least Progress", tasks_path(filter: 'least_progress') %></li>
      </ul>
    </div>
  </div>
  <div class="card-layout" style="--cards: <%= current_user.tasks.count %>;">
    <% @filtered_tasks.each_with_index do |task, index| %>
      <%# <%= render 'tasks/progress_bar', task: task %>
      <% if index.odd? %>
        <div class="display-box">
          <%= render 'tasks/task_card', task: task, index: index %>
          <h2><%= @label == 'Dashboard View' ? @sublabel[index] : '' %></h2>
        </div>
      <% else %>
        <div class="display-box">
          <h2><%= @label == 'Dashboard View' ? @sublabel[index] : '' %></h2>
          <%= render 'tasks/task_card', task: task, index: index %>
        </div>
      <% end %>
    <% end %>
    <% @tasks.where(completed: true).each_with_index do |task, index| %>
      <% if index.odd? %>
        <div class="display-box"></div>
        <%= render 'tasks/completed_task_card', task: task, index: index %>
      </div>
    <% else %>
      <div class="display-box">
        <%= render 'tasks/completed_task_card', task: task, index: index %>
        <h2><%= 'Your Completed Tasks' if index == 0 %></h2>
      </div>
    <% end %>
  <% end %>
</div>
