<div class="wrapper">
  <div class="show-points">
    <%= 'Points: ' + current_user.totalpoints.to_s %>
  </div>
  <div class="show-header">
    <div class="show-title">
      <h1><%= @task.title %></h1>
    </div>
    <div class="buttons">
      <%= link_to icon("fa-solid", "angle-down expand-icon"), tasks_path %>
    </div>
  </div>
  <%= render "tasks/progress_bar", task: @task %>
  <div class="task-show-menu">
    <ul class="big-buttons" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <span class="task-show-menu-button" id="todo-tab" data-bs-toggle="tab" data-bs-target="#todo-tab-pane" role="tab" aria-controls="todo-tab-pane" aria-selected="true">To Do</span>
      </li>
      <li class="nav-item" role="presentation">
        <span class="task-show-menu-button" id="completed-tab" data-bs-toggle="tab" data-bs-target="#completed-tab-pane" role="tab" aria-controls="completed-tab-pane" aria-selected="false">Completed</span>
      </li>
      <li class="nav-item" role="presentation">
        <span class="task-show-menu-button" id="excluded-tab" data-bs-toggle="tab" data-bs-target="#excluded-tab-pane" role="tab" aria-controls="excluded-tab-pane" aria-selected="false">Excluded</span>
      </li>
    </ul>
    <div class="buttons">
      <%# <%= simple_form_for @task, url: new_chask_path do |f| %>
        <%# <%= f.submit :task_id, value: @task.id do %>
          <%# <%= icon("fa-solid", "plus") %>
          <%# <% end %>
          <%# <% end %>
          <%= link_to icon("fa-solid", "plus"),  new_task_chask_path(@task) %>
        </div>
      </div>
      <div class="tab-content" id="myTabContent">
        <div class="completed">
          <div class="tab-pane fade show active" id="completed-tab-pane" role="tabpanel" aria-labelledby="completed-tab" tabindex="0">
            <div class="completed-tasks">
              <% @chasks.each do |chask| %>
                <% if chask.chask? & chask.completed? %>
                  <%= render 'tasks/chask_card', chask: chask %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="todo">
          <div class="tab-pane fade py-3" id="todo-tab-pane" role="tabpanel" aria-labelledby="todo-tab" tabindex="0">
            <div class="saved-tasks">
              <% @chasks.each do |chask| %>
                <% if chask.chask? && (chask.queued? || chask.paused? || chask.progress?) %>
                  <%= render 'tasks/chask_card', chask: chask  %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="excluded">
          <div class="tab-pane fade py-3" id="excluded-tab-pane" role="tabpanel" aria-labelledby="excluded-tab" tabindex="0">
            <div class="excluded-tasks">
              <% @chasks.each do |chask| %>
                <% if chask.chask? && chask.excluded? %>
                  <%= render 'tasks/chask_card', chask: chask %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="show-button-div">
      <%= link_to 'Continue Task Flow', chask_path(@task.chasks.first), class: 'show-button'  %>
    </div>
  </div>
