<div class="container">
  <div class="show-points">
    <%= 'Points: ' + current_user.totalpoints.to_s %>
  </div>
  <div class="show-header">
    <div class="show-title">
      <h1><%= @task.title %></h1>
    </div>
    <div class="buttons">
      <%= link_to icon("fa-solid", "angle-down expand-icon"), tasks_path %>
    </div>
  </div>
  <%= render "tasks/progress_bar", task: @task %>
  <div class="completed">
    <header>
      <h1>Completed Tasks</h1>
    </header>
    <div class="completed-tasks">
      <% @chasks.each do |chask| %>
        <% if chask.completed? %>
          <%= render 'tasks/chask_card', chask: chask %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="saved">
    <header>
      <h1>Saved Tasks</h1>
    </header>
    <div class="saved-tasks">
      <% @chasks.each do |chask| %>
        <% if chask.queued? %>
          <%= render 'tasks/chask_card', chask: chask  %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="excluded">
    <header>
      <h1>Excluded Tasks</h1>
    </header>
    <div class="excluded-tasks">
      <% @chasks.each do |chask| %>
        <% if chask.excluded? %>
          <%= render 'tasks/chask_card', chask: chask   %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="show-button-div">
    <%= link_to 'Continue Task Flow', chask_path(@task.chasks.first), class: 'show-button'  %>
  </div>
</div>
