<h1><%= @chask.title %></h1>
<p><%= 'Status (not visible to user): ' + @chask.status.to_s.upcase %></p>
<p><%= 'Belongs to Task: ' + @chask.task.id.to_s %></p>
<% if @chask.progress? %>
  <%= render 'layouts/startcard' %>
<% else %>
  <% if @chask.completed? %>
    <%= 'Ended Task at: ' + @end_time.to_s %>
  <% end %>
  <% if @chask.chask %>
    <p><%= 'Belongs to Chask: ' + @chask.chask.id.to_s %></p>
  <% else %>
    <%= link_to 'Break Down', breakdown_chask_path(@chask), class: " mt-3 btn btn-primary"  %>
  <% end %>
  <%= link_to "Edit Title", edit_chask_path, class:"btn btn-primary" %>
  <%= simple_form_for @chask, url: queued_chask_path(@chask) do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: 'queued'} %>
    <%= f.button :submit, 'Save for Later', class:"btn-primary" %>
  <% end %>
  <%= simple_form_for @chask, url: excluded_chask_path(@chask) do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: 'excluded'} %>
    <%= f.button :submit, 'Exclude', class:"btn-primary" %>
  <% end %>
  <%= simple_form_for @chask, url: progress_chask_path(@chask) do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: 'progress'} %>
    <%= f.button :submit, 'Start', class:"btn-primary" %>
  <% end %>
<% end %>
