<head>
  <style>
    @media (max-width: 767px) {
      .spinner-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40vh;
        flex-direction: column;
      }

      .spinner {
        width: 200px; /* Adjust the size as needed */
        height: 200px; /* Adjust the size as needed */
      }
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="header-container">
      <header id="main-header">
        <div class="header-login">
          <h1>Task Chomp</h1>
            <% if user_signed_in? %>
              <div class="login-sign-out-buttons justify-content-end">
                <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "logout-button" %>
              </div>
            <% else %>
              <div class="login-sign-out-buttons">
                <%= link_to "Login", new_user_session_path, class: "login-button" %>
                <%= link_to "Sign up", new_user_registration_path, class: "sign-up-button" %>
              </div>
            <% end %>
        </div>
        <h2><span>Break up</span> your tasks</h2>
        <p>Let's become more productive by completing each task, step by step</p>
      </header>
      <div class="banner">
        <%= image_tag "stars.svg" %>
      </div>
      <div class="search-container">
        <h3>Start a <span>journey!</span></h3>
      </div>
    </div>
    <div class="widget">
      <%# <%= image_tag('pixel-art-8-bit-cartoon-t-rex-tyrannosaurus-dinosaur-character-H3KKDG.jpg') %>
      <div class="widget-content">
        <%= simple_form_for @task do |f| %>
          <div class="search-bar-wrapper">
            <div class="search-group">
              <%= f.input :title, placeholder: "Ask me anychomp!", label: false, input_html: { class: 'search-bar' } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="spinner-container" data-controller="spinner">
      <%= simple_form_for @task, html: { data: { action: 'submit->spinner#insert' } } do |f| %>
        <div class="search-bar-wrapper">
          <div class="search-group">
            <%= f.input :title, placeholder: "Enter task here", label: false, input_html: { class: 'search-bar' } %>
            <%= f.button :submit, class:"visually-hidden" %>
          </div>
        </div>
      <% end %>
      <div class="spinner" data-spinner-target="spinner"></div>
    </div>
  </div>
</body>
