<div class="container">
  <div class="startcard">
    <div class="points">
      <%= 'Points: ' + @user.totalpoints.to_s %>
    </div>
    <div class="startcard-title">
      <h2><%= @chask.title %></h2>
    </div>
    <div class="startcard-prompt">
      <h2>Great job getting started! Task in progress...</h2>
    </div>
    <div class="startcard-timer">
      <%= image_tag "watch.png" %>
    </div>
    <div class="pausedone">
      <div class="pausedone-button">
        <%= simple_form_for @chask, url: paused_chask_path(@chask) do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'paused'} %>
          <%= f.button :submit, 'Pause' %>
        <% end %>
      </div>
      <div class="pausedone-button">
        <%= simple_form_for @chask, url: completed_chask_path(@chask) do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'progress'} %>
          <%= f.button :submit, 'Mark as Done' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
