<div class="container">
  <div class="startcard">
    <%# <div class="points">
      <%= 'Points: ' + @user.totalpoints.to_s %>
    <%# </div> %>

    <div class="startcard-title">
      <h2><%= @chask.title %></h2>
    </div>
    <div class="startcard-prompt">
      <h2>Work mode: Do not forget to click "Done" when you finish!</h2>
    </div>

    <div class="startcard-timer overflow-auto mh-40 border border-white">
      <div class="chatbox">
        <div class="container chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chask.id %>" data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
          <div class="messages" data-chatroom-subscription-target="messages">
            <% @chask.messages.each do |message| %>
              <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
                <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
                  <%= render "messages/message", message: message %>
                </div>
              </div>
            <% end %>
          </div>
          <%# <%= image_tag "watch.png" %>
        </div>
      </div>
    </div>
    <%= simple_form_for [@chask, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
      <%= f.input :content, label: false, placeholder: "Search here if you are feeling a bit lost!", wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
    <div class="pausedone">
      <div class="pausedone-button">
        <%= simple_form_for @chask, url: paused_chask_path(@chask) do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'paused'} %>
          <%= f.button :submit, 'Pause' %>
        <% end %>
      </div>
      <div class="pausedone-button">
        <%= simple_form_for @chask, url: completed_chask_path(@chask) do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'completed'} %>
          <%= f.button :submit, 'Mark as Done' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
